
td {
    width:100px;
    height:100px;
    background:pink;
}

.vertical {
    border-left:1px solid cadetblue;
    border-right: 1px solid cadetblue;
}

.horizontal {
    border-bottom: 1px solid cadetblue;
    border-top: 1px solid cadetblue;
}
